*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

/* Header */

header{
    background:#003366;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;

    /* Transition #1 */
    transition:color .4s;
}

nav a:hover{
    color:gold;
}

nav button{
    background:white;
    color:#003366;
    border:none;
    padding:10px 20px;
    cursor:pointer;
    border-radius:6px;

    transition:background .4s;
}

nav button:hover{
    background:gold;
}

/* Hero */

.hero{
    background:#0059b3;
    color:white;
    text-align:center;
    padding:80px;
}

.hero h2{
    font-size:48px;
    margin-bottom:15px;
}

.hero p{
    margin-bottom:25px;
}

.hero button{
    background:white;
    color:#003366;
    border:none;
    padding:15px 35px;
    border-radius:8px;
    cursor:pointer;

    transition:transform .4s;
}

.hero button:hover{
    transform:scale(1.1);
}

/* Products */

.products{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:50px;
    flex-wrap:wrap;
}

.card{
    width:280px;
    background:white;
    border-radius:10px;
    text-align:center;
    padding:20px;
    box-shadow:0 0 15px rgba(0,0,0,.2);

    /* Transition #2 */
    transition:transform .4s, box-shadow .4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,.35);
}

.card img{
    width:100%;
    border-radius:10px;
}

.card h3{
    margin:15px 0;
}

.card p{
    color:#0066cc;
    font-size:20px;
    margin-bottom:15px;
}

.card button{
    background:#003366;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;

    transition:background .4s;
}

.card button:hover{
    background:#0066cc;
}

/* Footer */

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:25px;
}

/* Responsive */

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

.products{
    flex-direction:column;
    align-items:center;
}

}